<strong>Scanuj QR nebo ťukni na limo</strong>
<div class="list">

  <% for (var i = 0; i < limoList.length; i++) { %>
    <div class="item">
      <%- include('./limo.ejs', { limo: limoList[i], LIMOALERT_SERVICE_BASE_URL }) %>
    </div>
  <% } %>
</div>
