<html>

<head>
  <title>Limoalert</title>
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
</head>

  <body style="background: url(/success.gif) rgb(240, 241, 240) top center no-repeat;">
    <h1><%= limo %></h1>
  </body>
</html>
