<style>
  body {
    font-family: 'Amatic SC', cursive;
    background: url('https://cdn.dribbble.com/users/330174/screenshots/2695600/comp_2.gif') rgb(240, 241, 240) top center no-repeat;
    background-size: 75%;
  }
</style>
<p id="label">
  Vzals sis
  <% if (limo) { %>
    <strong><%= limo.acc %></strong>
  <% } else { %>
    <strong>něco co neznám</strong>
  <% } %>
  @limo-boss si dělá čárku
</p>
